body {
    background-color: #FDF5E9;
    display: flex;
    flex-direction: column;
    margin: 5rem 20vw;
    align-items: center;
    overflow-x: hidden;
}

img {
    width: 100px;
}

.text {
    color: #6F605D;
    font-weight: 500;
    text-align: center;
}

.text:nth-child(2) {
    color: #504745;
    animation: appear 3s ease forwards;
}

.title {
    font-size: clamp(1.875rem, -1.25rem + 12.5vw, 3.4375rem);
    background: #D40924;
    background: linear-gradient(90deg, rgba(212, 9, 36, 1) 0%, rgba(215, 113, 0, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
    animation: shine 1s infinite alternate;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(-150px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes shine {
    100% {
        transform: scale(1.06);
    }
}

.title-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    animation: showUp 2s ease forwards;
}

.title-div img {
    animation: showUp 2s ease forwards;
    width: 60px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(4694%) hue-rotate(346deg) brightness(94%) contrast(101%);
}

.title-div img:last-of-type {
    width: 45px;
    animation: showUp 2s ease forwards;
    filter: brightness(0) saturate(100%) invert(58%) sepia(45%) saturate(5971%) hue-rotate(9deg) brightness(93%) contrast(101%);
}

.gif {
    width: 280px;
    position: relative;
    right: -55px;
    animation: showUp 1.3s ease forwards;
    overflow-x: hidden;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }

    100% {
        opacity: 1;
    }
}

.box {
    display: flex;
    padding: 2rem;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    max-width: 2500px;
    width: 120%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: appear 1.5s ease forwards;
}

@keyframes showLittleUp {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
    }
}

.box-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box .box-header .mid-title {
    font-size: clamp(1.25rem, 0.75rem + 2vw, 1.5rem);
    color: #2F1C19;
    position: relative;
    animation: showLittleUp 3s ease forwards;
}

.mid-title-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mid-title-div img:first-of-type {
    animation: showLittleUp 5s ease forwards;
    width: 40px;
    filter: brightness(0) saturate(100%) invert(74%) sepia(14%) saturate(4111%) hue-rotate(320deg) brightness(98%) contrast(99%);
}

.mid-title-div img:last-of-type {
    animation: showLittleUp 3s ease forwards;
    width: 40px;
    filter: brightness(0) saturate(100%) invert(74%) sepia(14%) saturate(4111%) hue-rotate(320deg) brightness(98%) contrast(99%);
}





.habilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    gap: 20px;
}

.habilities_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px #E3D5D2;
    border-radius: 15px;
    padding: 15px 20px;
    gap: 5px;
    transition: all 0.5s ease;
    opacity: 0;
}

.habilities_card:nth-child(1) {
    animation: appearFromRight 1s ease forwards;
    animation-delay: 1s;
}

.habilities_card:nth-child(2) {
    animation: appearFromRight 2s ease forwards;
    animation-delay: 1.2s;
}

.habilities_card:nth-child(3) {
    animation: appearFromRight 2.5s ease forwards;
    animation-delay: 1.4s;
}

.habilities_card:nth-child(4) {
    animation: appearFromRight 2.6s ease forwards;
    animation-delay: 1.6s;
}

.habilities_card:nth-child(5) {
    animation: appearFromRight 2.7s ease forwards;
    animation-delay: 1.8s;
}

.habilities_card:nth-child(6) {
    animation: appearFromRight 2.8s ease forwards;
    animation-delay: 2s;
}

@keyframes appearFromRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.habilities_card:hover {
    border: solid 2px #EEB1B7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1) rotate(5deg) !important;
}

.habilities_card__icon {
    transform: scale(1.7);
    margin-bottom: 10px;
}

.habilities_card__title {
    color: #2f1c19e7;
    font-size: clamp(0.875rem, 0.625rem + 1vw, 1rem);
    font-weight: 600;
}

.habilities_card__text {
    font-size: 0.8rem;
}

.fotita {
    text-align: center;
    border: dashed 2px #EEB1B7;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.fotita .picture {
    width: 100%;
    max-width: 700px
}

.little-title {
    font-size: 1.15rem;
}

.little-title-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.little-title-div img {
    width: 30px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(4694%) hue-rotate(346deg) brightness(94%) contrast(101%);
}

.celebration-button {
    margin: 0 auto;
    background-color: #D40924;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    transition: .3s;
}

.celebration-button:hover {
    cursor: pointer;
}

.celebration-button:hover {
    filter: brightness(1.2);
}

.celebration-button img {
    width: 25px;
    filter: invert(100%);
}

.text:last-of-type {
    margin: 0 auto;
}

.gifs {
    margin-top: 1rem;
    margin-inline: auto;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
}

@keyframes showGifs {
    from {
        height: 0;
        overflow: hidden;
    }

    to {
        height: 100%;
        overflow: visible;
    }
}

.gifs.active {
    height: 100%;
    overflow: visible;
    animation: showGifs 1.5s forwards;
}

.gifs img {
    margin-top: 40px;
    position: relative;
    animation: jump var(--time) ease-in-out infinite;
    animation-delay: var(--delay);
}

@keyframes jump {
    0% {
        transform: translateY(0) scaleY(1);
    }

    40% {
        transform: translateY(calc(-1 * var(--height))) scaleY(1.05);
    }

    60% {
        transform: translateY(calc(-1 * var(--height))) scaleY(0.95);
    }

    100% {
        transform: translateY(0) scaleY(1);
    }
}

.gifs img:nth-child(1) {
    --height: 50px;
    --time: .4s;
    --delay: 0s;
}

.gifs img:nth-child(2) {
    --height: 60px;
    --time: 0.4s;
    --delay: .1s;
}

.gifs img:nth-child(3) {
    --height: 55px;
    --time: 0.5s;
    --delay: .6s;
}

.gifs img:nth-child(4) {
    --height: 30px;
    --time: .6s;
    --delay: .1s;
}

.gifs img:nth-child(5) {
    --height: 75px;
    --time: 0.7s;
    --delay: .2s;
}

.gifs img:nth-child(6) {
    --height: 75px;
    --time: .5s;
    --delay: 0s;
}

.gifs img:nth-child(7) {
    --height: 40px;
    --time: 0.3s;
    --delay: .3s;
}

.gifs img:nth-child(8) {
    --height: 55px;
    --time: 0.7s;
    --delay: .6s;
}

.gifs img:nth-child(9) {
    --height: 35px;
    --time: .8s;
    --delay: .1s;
}

.gifs img:nth-child(10) {
    --height: 45px;
    --time: 0.4s;
    --delay: .3s;
}

@media(max-width: 575px) {
    body {
        margin: 5rem 2.5rem;
    }

    .gifs img {
        position: absolute;
    }

    .gifs img:nth-child(1) {
        --height: 50px;
        --time: .1s;
        --delay: 0s;
        top: 0;
        left: 30px;
        animation: jump var(--time) ease-in-out infinite;
    }

    .gifs img:nth-child(2) {
        --height: 200px;
        --time: .5s;
        --delay: .1s;
        top: 200px;
        right: 250px;
        animation: jump var(--time) ease-in-out infinite;
    }

    .gifs img:nth-child(3) {
        --height: 55px;
        --time: 0.5s;
        --delay: .6s;
        top: 400px;
        left: 50px;
        animation: appearFromLeftGifs 7s ease forwards;
    }

    .gifs img:nth-child(4) {
        --height: 30px;
        --time: .6s;
        --delay: .1s;
        top: 400px;
        right: 0px;
        animation: appearFromRightGifs 7s ease forwards;
    }

    .gifs img:nth-child(5) {
        --height: 0px;
        --time: 0.7s;
        --delay: .2s;
        top: 620px;
        right: 100px;
        animation: appearFromRightGifs 5s ease forwards;
    }

    .gifs img:nth-child(6) {
        --height: 75px;
        --time: .2s;
        --delay: 0s;
        top: 20px;
        right: 80px;
        animation: jump var(--time) ease-in-out infinite;
    }

    .gifs img:nth-child(7) {
        --height: 0px;
        --time: 0.3s;
        --delay: .3s;
        top: 610px;
        left: 100px;
        animation: appearFromLeftGifs 6s ease forwards;
    }

    .gifs img:nth-child(8) {
        --height: 0px;
        --time: 0.7s;
        --delay: .6s;
        top: 950px;
        right: 50px;
        animation: appearFromRightGifs 6s ease forwards;
    }

    .gifs img:nth-child(9) {
        --height: 35px;
        --time: .8s;
        --delay: .1s;
        top: 950px;
        left: 50px;
        animation: appearFromLeftGifs 4s ease forwards;
    }

    @keyframes appearFromLeftGifs{
        0% {
            opacity: 0;
            transform: translateX(-400px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes appearFromRightGifs {
        0% {
            opacity: 0;
            transform: translateX(400px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .box .gifs {
        display: none;
        flex-direction: column;
        left: -30px;
        z-index: -1;
    }

    .box .gifs.active {
        display: flex;
        overflow-x: hidden;
    }

    @keyframes jump {
        0% {
            transform: translateX(0) scaleX(1);
        }

        40% {
            transform: translateX(calc(1 * var(--height))) scaleX(1.05);
        }

        60% {
            transform: translateX(calc(1 * var(--height))) scaleX(0.95);
        }

        100% {
            transform: translateX(0) scaleX(1);
        }
    }

    .box {
        padding: 1.4rem;
    }
}